.flex{
  display: flex;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.columnCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.matchInfo{
  width: 100%
}

.hidden{
  display: none;
}